node-red/flow
[
    {
        "id": "863b0f73.66b26",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e133a62.2bcee58",
        "type": "debug",
        "z": "863b0f73.66b26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 600.5,
        "y": 254,
        "wires": []
    },
    {
        "id": "5591b6f2.ac0998",
        "type": "ui_gauge",
        "z": "863b0f73.66b26",
        "name": "data",
        "group": "e93f799c.82ad48",
        "order": 2,
        "width": "6",
        "height": "7",
        "gtype": "gage",
        "title": "Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 583.5,
        "y": 313,
        "wires": []
    },
    {
        "id": "517d9734.927678",
        "type": "debug",
        "z": "863b0f73.66b26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 602,
        "y": 379,
        "wires": []
    },
    {
        "id": "bd815059.b6406",
        "type": "inject",
        "z": "863b0f73.66b26",
        "name": "startExperiment",
        "topic": "objectId: ns=1;i=1000,methodId: ns=1;i=1003;",
        "payload": "",
        "payloadType": "str",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 182,
        "y": 365,
        "wires": [
            [
                "db1edc31.b4d97"
            ]
        ]
    },
    {
        "id": "db1edc31.b4d97",
        "type": "OPCUA-IIoT-Method-Caller",
        "z": "863b0f73.66b26",
        "connector": "50a0bc.7aa97f44",
        "objectId": "ns=1;i=1000",
        "methodId": "ns=1;i=1003",
        "methodType": "basic",
        "value": "",
        "justValue": true,
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "inputArguments": [],
        "x": 396,
        "y": 406,
        "wires": [
            [
                "517d9734.927678"
            ]
        ]
    },
    {
        "id": "7945e90c.65b0e8",
        "type": "OPCUA-IIoT-Inject",
        "z": "863b0f73.66b26",
        "injectType": "inject",
        "payload": "",
        "payloadType": "str",
        "topic": "ns=1;s=water_level;datatype=Double",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "Level",
        "addressSpaceItems": [],
        "x": 161,
        "y": 213,
        "wires": [
            [
                "babe69ad.d80008"
            ]
        ]
    },
    {
        "id": "babe69ad.d80008",
        "type": "OpcUa-Client",
        "z": "863b0f73.66b26",
        "endpoint": "63e32acc.ffa334",
        "action": "subscribe",
        "time": 10,
        "timeUnit": "s",
        "name": "Level",
        "x": 347,
        "y": 235,
        "wires": [
            [
                "e133a62.2bcee58",
                "5591b6f2.ac0998"
            ]
        ]
    },
    {
        "id": "dc123bef.88e028",
        "type": "ui_template",
        "z": "863b0f73.66b26",
        "group": "e93f799c.82ad48",
        "name": "",
        "order": 1,
        "width": "6",
        "height": "7",
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <select ng-model=\"item\" ng-options=\"items.item.displayName.text for items in msg.payload\">\n        <option value= \"\">\t-- Objects Root --</option> \n    </select>\n</div>    \n<div layout=\"row\" layout-align=\"space-between\">\n    <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">\n    \tBrowse\n    </button>\n</div>\npress to Update:\n<div layout=\"row\" layout-align=\"space-between\">\n    <ul>\n        <li ng-repeat=\"items in msg.payload\"> \n        {{items.item.displayName.text}}: {{items.item.nodeId}} \n        </li> \n    </ul>     \n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 325.5,
        "y": 25,
        "wires": [
            [
                "dcd9845b.1d18f8"
            ]
        ]
    },
    {
        "id": "dcd9845b.1d18f8",
        "type": "OpcUa-Browser",
        "z": "863b0f73.66b26",
        "endpoint": "63e32acc.ffa334",
        "item": "",
        "datatype": "",
        "topic": "",
        "items": [],
        "x": 328.5,
        "y": 134,
        "wires": [
            [
                "dc123bef.88e028"
            ]
        ]
    },
    {
        "id": "e93f799c.82ad48",
        "type": "ui_group",
        "z": "",
        "name": "Inputs",
        "tab": "640a2b3f.85d0b4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "50a0bc.7aa97f44",
        "type": "OPCUA-IIoT-Connector",
        "z": "",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://DHARAM-PC:3003/MyLittleServer",
        "keepSessionAlive": true,
        "loginEnabled": false,
        "securityPolicy": "None",
        "securityMode": "NONE",
        "name": "LOCAL SERVER",
        "showErrors": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "endpointMustExist": true,
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": ""
    },
    {
        "id": "63e32acc.ffa334",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://DHARAM-PC:3003/MyLittleServer",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "640a2b3f.85d0b4",
        "type": "ui_tab",
        "name": "Tab",
        "icon": "dashboard",
        "order": 0
    }
]
